div{
    font-family: Inter-Regular;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 15px;
}

.font-bold{
    font-weight: bold;
}

.h4{
    color: var(--color-blue)
}

table{
    width: 100%;
    text-align: left;
    line-height: 30px
}

th, td {
    border-bottom: 1px solid var(--color-grey);
    padding: 8px;
}

span{
    padding-right: 30px;
    color: var(--color-blue)
}

.newadmin{
    margin-top: 60px;

    display: flex;
    justify-content: flex-end; /* Đặt phần tử ở sát lề phải của body */
    align-items: center; /* Căn giữa theo chiều dọc */
    
}

.newadmin > .add-button{
    color: var(--color-white);
    border: none;
    background-color: var(--color-blue);
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .container {
      overflow-x: auto; /* Enable horizontal scroll on tablets */
    }
  }
  
  /* Media queries for mobile */
  @media screen and (max-width: 480px) {
    .container {
      overflow-x: auto; /* Enable horizontal scroll on mobile devices */
    }
  }