<!-- <!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Cart - R3cy</title> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

<!-- Style CSS -->
<link rel="stylesheet" href="./product-cart.component.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 
</head> -->

<!-- <body> -->

<!--== Wrapper Start ==-->
<div class="wrapper">

    <main class="main-content">

        <!--== Start Product Area Wrapper ==-->
        <section class="section-space">
            <div class="container">
                <div class="shopping-cart-form table-responsive">
                    <form action="#" method="post">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th class="product-remove">Xóa</th>
                                    <th class="product-thumbnail">Sản phẩm</th>
                                    <th class="product-name">&nbsp;</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tbody-item" *ngFor="let item of cartItems">
                                    <td class="product-remove">
                                        <a class="remove" (click)="removeItem(item)">×</a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <div class="thumb">
                                            <img src="{{item.img1}}" alt="" width="100" height="100" alt="Image-Loading">


                                        </div>
                                    </td>
                                    <td class="product-name">
                                        <a class="title" href="">{{item.name}}</a><br>
                                        <a class="type minitext">Phân loại: {{item.opt1}}</a>
                                    </td>
                                    <td class="product-price">
                                        <span class="price">{{item.price}}.000 đ</span>
                                    </td>
                                    <td class="product-quantity">
                                        <div class="pro-qty">
                                            <input type="text" class="quantity" title="Quantity" id="show" min="1"
                                                max="1000" name="show" [(ngModel)]="quantity" type="number" change="loadJson()">
                                        </div>

                                    </td>
                                    <td class="product-subtotal">
                                        <span class="price">{{ calculateSubtotal(item) }}.000 đ</span>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="coupon-wrap">
                            <h4 class="title">Mã giảm giá</h4>
                            <p class="desc">Nhập mã giảm giá (nếu có)</p>
                            <input type="text" class="form-control" placeholder="Coupon code">
                            <button type="button" class="btn-coupon">Áp dụng</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="cart-totals-wrap">
                            <h2 class="title">Tổng giỏ hàng</h2>
                            <table>
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Tổng sản phẩm</th>
                                        <td>
                                            <span class="amount">$499.00</span>
                                        </td>
                                    </tr>
                                    <tr class="coupon-totals">
                                        <th>Giảm giá</th>
                                        <td>
                                            <span class="amount">$499.00</span>
                                        </td>
                                    </tr>
                                    <tr class="shipping-totals">
                                        <th>Phí vận chuyển</th>
                                        <td>
                                            <ul class="shipping-fee">

                                                <span class="amount">25.000 đ</span>
                                                



                                            </ul>
                                            <p class="destination">Gửi đến <strong>Địa chỉ lưu sẵn: TP. Thủ
                                                    Đức</strong>.</p>
                                            <a href="" routerLink="/trangtaikhoan" routerLinkActive="active"
                                                class="btn-shipping-address">Thay đổi địa
                                                chỉ</a>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td>
                                            <span class="amount">$504.00</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-end">
                                <a routerLink="/checkout" routerLinkActive="active" class="checkout-button">Tiếp tục thanh
                                    toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--== End Product Area Wrapper ==-->

    </main>
</div>
<!--== Wrapper End ==-->


<!-- </body> -->

<!-- </html> -->