<br><br><br><br><br>

<div class="main" *ngIf="productt">
    <p>Sản phẩm/{{productt.category1}}/{{productt.category2}}/{{productt.name}}</p>
    <div class="productcontainer">
        <div class="leftcolumn">
            <img [src]="productt.img1">
            <br>
            <img [src]="productt.img2" alt="" class="smallimg">
            <img [src]="productt.img3" alt="" class="smallimg">
        </div>

        <div class="rightcolumn">
            <h1 class="name">{{productt.name}}</h1>
            <h1 class="price">{{productt.price}}.000đ</h1>
            <p class="oldprice">{{productt.oldprice}}.000đ</p>
            <p>{{productt.description}}</p>
            <br><br>
            <p class="grey">Phân loại:</p>
            <button type="button" (click)="selectOption(productt.opt1)">{{productt.opt1}}</button>
            <button type="button" (click)="selectOption(productt.opt2)">{{productt.opt2}}</button>
            <button type="button" (click)="selectOption(productt.opt3)">{{productt.opt3}}</button>
            <br>

            <p class="grey">Số lượng:</p>
            <!-- <input type="number" [(ngModel)]="quantity"> -->

            <br><br>
            <button type="button" routerLink="/product-cart" routerLinkActive="active"
                (click)="addToCart(productt)">Thêm vào giỏ hàng</button>
            <button type="button" class="cta">Mua hàng</button>
        </div>
    </div>

    <h2>Đánh giá sản phẩm</h2>
    <div class="rate">
        <div class="leftcontent">
            <h2>{{productt.rate}} trên 5</h2>
        </div>

        <div class="rightcontent">
            <button type="button">Tất cả đánh giá</button>
            <button type="button">5 sao</button>
            <button type="button">4 sao</button>
            <button type="button">3 sao</button>
            <button type="button">2 sao</button>
            <button type="button">1 sao</button>
            <br>
            <button type="button">Có bình luận</button>
            <button type="button">Có hình ảnh/video</button>
        </div>
    </div>

    <div class="ratecontent">
        <div class="imgfb">
            <img src="" alt="">
        </div>
        <div class="fbcontent">
            <p class="grey">{{productt.accountfb1}}</p>
            <p>{{productt.fb1}}</p>
        </div>

    </div>

    <h2>Thảo luận</h2>
    <div class="qua">
        <p>{{productt.ask1}}</p>
        <p>{{productt.answer1}}</p>
        <hr>
        <p>{{productt.ask2}}</p>
        <p>{{productt.answer2}}</p>
    </div>

    <!-- <h2>Sản phẩm có liên quan</h2> -->
    <div class="relatedProduct1">

    </div>
</div>