
<div class="containerAll">
    <h2>Tổng quan</h2>
    <div class="containerTop">
        <div class="containerLeft">
            <!-- Doanh thu sản phẩm -->
            <div class="Title">
                <button class="btn">Hôm nay</button>
                <button class="btn">Website</button>
            </div>
            <hr  class="line--grey">
            <table>
                <tr>
                    <td>Doanh thu thuần</td>
                    <td>35.000.000</td>
                </tr>
                <tr>
                    <td>Tổng số đơn hàng</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Số lượng sản phẩm đã bán</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>
                        <p>Sản phẩm bán chạy nhất</p>
                        <table>
                            <tr>
                                <td rowspan="2"><img src="../../assets/Image/ImageForBlog/thumbnail/1.png" alt="" width="77px" height="77px"></td>
                                <td>Tên sản phẩm</td>
                            </tr>
                            <tr><td>Giá sản phẩm</td></tr>
                        </table>
                    </td>
                    <td> <p> 20</p>
                    </td>
                </tr>
                <tr class="viewDetailLine" >
                    <td></td>
                    <td><a href="" class="viewDetail">Xem chi tiết</a></td>
                </tr>
            </table>
        </div>
        <!-- <div class="containerRight">
            <p>Gì gì đó</p>
        </div> -->
    </div>
    <div class="containerBottom">
        <!-- Trạng thái đơn hàng -->
        <div class="dongtittle">
            <h3>Trạng thái đơn hàng</h3>
            <button  class="btn">Tất cả</button>
        </div>
        <table>
            <tr>
                <td>Đơn hàng chưa thanh toán</td>
                <td>5</td>
                <td class="viewDetail">Xem chi tiết</td>
            </tr>
            <tr>
                <td>Đơn hàng chưa giao</td>
                <td>5</td>
                <td class="viewDetail">Xem chi tiết</td>
            </tr>
            <tr>
                <td>Đơn hàng đang giao</td>
                <td>5</td>
                <td class="viewDetail">Xem chi tiết</td>
            </tr>
            <tr>
                <td>Đơn hàng đã hủy</td>
                <td>5</td>
                <td class="viewDetail">Xem chi tiết</td>
            </tr>
        </table>
    </div>
</div>
