<div class="containerAll">
   <h4>Quay lại trang Blog</h4>

    <div class="containerContent">
        <div class="Leftt">
            <input type="text" placeholder="Nhập tiêu đề" class="titleBlog">
            <br>
            <textarea name="Blogcontent" id="content" placeholder="Nhập nội dung bài viết" ></textarea>
            <div class="Button">
                <button  class="btn">Đăng bài</button>
            </div>
        </div>
        <div class="Right">
            <img class="circle_img" #selectedImage [src]="imageSrc" alt=""> 
            <br>
            <!-- <button type="button" class="button p" (click)="selectImage()"></button> -->
            <input type="file" #myfile name="myfile" accept="image/*" (change)="displayImage($event)">
        </div>

    </div>
    
</div>



