
div{
    font-family: Inter-Regular;
}

*{
    margin: 0;
    padding: 0;
}

.clear{
    clear: both
}

.text-center{
    text-align: center;
}

.font-bold{
    font-weight: bold;
}

.container{
    background-color: var(--color-lightblue);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.content{
    background-color: var(--color-white);
    width: 740px;
    height: 480px;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    border-radius: 4px;
}

.box-container{
    margin: 60px;
}

.box-container .h2{
    color: var(--color-blue);
    margin-bottom: 40px;
    /* display: flex; */
}

.p{
    color: (--color-grey)
}

.form-control{
    width: 100%;
    border-radius: 10px;
    border: none;
}

.otp-list{
    display: flex;
    justify-content: center;
}

.otp-code{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    width: 50px;
    height: 50px;
    padding-right: 30px;
    margin-top: 16px;
}

.otp-code > input{
    /* padding: 0 10px; */
    background-color: #ccc;
    font-size: 20px;
    text-align: center;
}

input{
    font-size: 16px;
}

.resend-otp{
    color: (--color-grey);
    margin-top: 40px;
}

.resend-otp > a{
    color: var(--color-blue);
}

.btn-next > input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-blue);
    border-radius: 10px;
    color: var(--color-white);
    font-weight: bold;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}

/* ============Responsive============ */
/* Tablet */
@media screen and (max-width:768px){
    .content{
        width: 650px;
        height: 450px;
    }

    .box-container{
        margin: 60px 30px 30px 30px
    }

}

/* Mobile */
@media screen and (max-width:480px){

    .box-container{
        margin: 40px 30px 30px 30px
    }
    .content{
        width: 350px;
        height: 420px;
    }

    /* .h2 > p{
        font-size: 16px
    } */

    .otp-code{
        padding-right: 0px;
    }

    .otp-1, .otp-2, .otp-3, .otp-4{
        padding-right: 25px;
    }

    .otp-code > input{
        /* padding: 0 10px; */
        background-color: #ccc;
        font-size: 20px;
        text-align: center;
        width: 40px;
    }

    .resend-otp{
        width: 300px;
    }
}
