<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quản lý khách hàng</title>
    <link rel="stylesheet" href="admin-customers.component.css">
</head>

<body>
    <div class="fullpage">
        <h4 class="title">Quản lý khách hàng</h4>
        <div class="container">

            <div class="container_item">
                <div class="show">
                    <label  for="show">Hiển thị:
                        <input class="showinput" style="text-align: center"  id="show" min="1" max="1000" name="show" value="1"
                            type="number" onchange="loadJson()">
                    </label>
                    <input class="find" type="text" placeholder="Tìm kiếm khách hàng">

                </div>
                
            </div>
            <div class="container_item">
                <table>
                    <tr>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Email/ Số điện thoại</th>
                        <th>Ngày sinh</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Phạm Văn Đạt</td>
                            <td>Bình Thạnh, HCM</td>
                            <td>datpham&#64;gmail.com</td>
                            <td>20/11/2000</td>
                        </tr>
                        <tr>
                            <td>Hoàng Khánh Nga</td>
                            <td>Quận 10, HCM</td>
                            <td>nga2003&#64;gmail.com</td>
                            <td>5</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>